#grid{
	display: grid;
	grid-template-rows: 32% 32% 32%;
	grid-template-columns : 48% 48%; 
	grid-column-gap: 1.5%;
	grid-row-gap: 1.5%;
	margin-left: 5%;
	
	height:200%;
}


div{

	
}

img {
	width: 100%;
	height : 100%;
	
}

a{
	font-size: 1.3em;
}

a:link{
	color: white
	
}

a:visited{
	color: white;
	
}

.FondDiff{

	background-color: rgb(21,85,94); 
	height: 50%;
	width: 75%;
	text-align: center;
	margin-left: 15%;
	margin-top: 15%;
}

.Video video{

	position: center;
	width: 50%;
	margin-top: 1em;
	margin-left: 30%;
}

.Video p{

	text-align: center
}